.header {
  background: #baa1a7;
  color: #d6d7db;
  height: 200px;
}

.header h1 {
  margin: 0;
  padding-top: 75px;
  text-align: center;
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
}
